@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://example.com/path-to-your-font/WoodhamBC.css');

:root {
    --custom-yellow: #59e762;
    --main-font: "Josefin Sans", sans-serif;
    --secondary-font: "M PLUS Rounded 1c", sans-serif;
    --primary-bg: #3fe84a;
    --secondary-bg: #288b6225;
    --text-color: #ffffffdd;
}

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    /* background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%); */
    color: var(--text-color);
    line-height: 1.6;
    font-family: var(--main-font);


}



a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

/* Typography */
h1,
h2,
h3 {
    color: var(--text-color);
    font-family: var(--main-font);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--custom-yellow);
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

/* Header Styles */
.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a {
    padding: 7px 25px;
    border-radius: 5px;
    margin: 10px 0;

    font-weight: 400;
    font-size: 12px;
}

.linkedin-btn {
    background-color: var(--custom-yellow);
}

.linkedin-btn:hover {
    background-color: #198b2c;

}

.email-btn {
    background-color: var(--custom-yellow);
    color: #000;
}

.email-btn:hover {
    background-color: #198b2c;
}

/* Profile Section */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.profile-image {
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 20px;
}

.avatar-circle {
    width: 160px;
    height: 160px;
}

.avatar-circle img {
    width: 100%;
    height: auto;
    border: 8px solid var(--custom-yellow);

    border-radius: 50%;
}

.profile-content {
    max-width: 600px;
    text-align: left;
    margin: 0 20px;
    flex: 1;
}

.hero-heading1,
.hero-heading2 {
    font-size: 70px;
    font-weight: 1000;
    text-align: center;
}

.hero-heading1 {
    margin-right: 150px;
}

.hero-heading2 {
    margin-left: -60px;
}

.profile-content p {
    font-size: 18px;
    margin: 20px 0 40px;
    color: #ccc;
}

.profile-buttons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.profile-buttons button {
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: var(--main-font);
    border: 1px solid black;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.get-connect-btn {
    background-color: var(--custom-yellow);
    color: #000;
}

.get-connect-btn:hover {
    background-color: var(--primary-bg);
    transform: translateY(-3px);
}

.learn-more-btn {
    background-color: var(--secondary-bg);
    color: var(--text-color);
}

.learn-more-btn:hover {
    background-color: var(--secondary-bg);
    transform: translateY(-3px);
}

/* Skills Section */
.skills-container {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.skill-card {
    background-color: var(--secondary-bg);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    transition: transform 0.3s ease;
    border: 1px solid var(--custom-yellow);
}

.skill-card:hover {
    transform: translateY(-10px);
}

.icon-box {
    background-color: var(--custom-yellow);
    padding: 20px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box img {
    width: 50px;
    height: 50px;
}

.skill-title {
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
}

/* Projects Section */
.portfolio-section {
    background-color: var(--custom-yellow);
    padding: 0px 0px 50px;
    text-align: center;
}

.portfolio-section h2 {
    padding-top: 20px;
    font-size: 3em;
    margin-bottom: 40px;
    color: #000;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    background-color: rgb(31, 62, 40);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 25%;
    text-align: center;

}

.portfolio-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.portfolio-card p {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    line-height: 1px;
    text-align: left;
}

/* Collaboration Section */
.collaborate-section {
    text-align: center;
    padding: 50px 10px;
}

.collaborate-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}

.collaborate-item {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 12px;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    /* Added */
    flex-direction: column;
    /* Added */
    align-items: center;
    /* Added */
    border: 1px solid var(--custom-yellow);

}

.collaborate-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.collaborate-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--custom-yellow);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.collaborate-item:hover::after {
    transform: scaleX(1);
}

.collaborate-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Adjust spacing between icon and text */
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 auto;
    /* Center the icon horizontally */
}

.collaborate-item:hover .icon {
    background-color: var(--text-color);
    color: var(--custom-yellow);
}

/* Footer */
.centered-container {
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.centered-name {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-bg);
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.divider {
    width: 90em;
    max-width: 100%;
    border: none;
    border-top: 1px solid var(--secondary-bg);
    margin: 10px auto;
}

.left-aligned-text {
    color: #cccccc70;
    position: absolute;
    left: 0;
    font-size: 0.8rem;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: left;
}

/* Popover Sections */
.container-pop {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.scroll-frame {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border-radius: 10px;
}

.about-section-pop,
.contact-form {
    padding: 50px 10px;
    margin-top: 70px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--custom-yellow);
    background-color: rgb(18, 18, 18);

}

.about-section-pop h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--custom-yellow);
    text-align: center;
}

.about-section-pop p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #ffffffae;
    text-align: justify;
}

.contact-form {
    max-width: 400px;
    min-width: 390px;
}

.contact-form label {
    color: rgba(217, 217, 217, 0.829);
    font-weight: bold;
}

.contact-form .heading {
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    color: var(--custom-yellow);
}

.contact-form form {
    display: flex;
    flex-direction: column;

}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: var(--main-font);
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-bg);
    color: var(--text-color);
}

.contact-form button {
    padding: 14px 25px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: var(--main-font);
    border: 1px solid black;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--custom-yellow);
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: var(--primary-bg);
    transform: translateY(-3px);
}

::placeholder {
    font-weight: normal;
    padding: 5px;
    color: #ffffff5c;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .portfolio-card {
        max-width: 45%;
    }
}

@media (max-width: 950px) {
    .container4 {
        flex-direction: column;
        padding: 20px;
    }

    .left-content,
    .right-image {
        width: 100%;
    }

    .left-content h1 {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media(min-width:600px) {
    .content {
        max-width: 55%;
        color: #f1f1f1;
    }

    .content p {
        font-size: 1.1rem;
        margin-bottom: 30px;
        color: #d1d1d1;

        line-height: 1.8;
    }
}

@media (max-width: 900px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-card {
        max-width: 50%;
    }

    .about-section-pop {
        padding: 20px 20px;
    }

    .about-section-pop h1 {
        font-size: 2rem;
    }

    .about-section-pop p {
        font-size: 1rem;
    }

    .about-section-pop {
        padding: 20px;
        height: 500px;
        min-width: 300px;
    }

    .contact-form {
        padding: 30px;
        height: 470px;
        min-width: 300px;
    }

    .contact-form .heading {
        margin: 15px;
        font-size: 20px;
    }

    .collaborate-container {
        flex-direction: column;
        align-items: center;
    }

    .collaborate-item {
        width: 80%;
    }

    /* Profile section adjustments for tablet */
    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .collaborate-section h2 {
        font-size: 2rem;
    }

    .collaborate-container {
        width: 90%;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .profile-section {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Profile content centering for mobile */
    /* .profile-content {
        text-align: center;
        align-items: center;
    } */
    .avatar-circle {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .image-container img {
        height: 200px;
    }

    .collaborate-item {
        width: 100%;
        padding: 20px;
    }

    .right-image img {
        height: auto;
    }

    .left-content h1 {
        font-size: 2rem;
    }

    .left-content p,
    .bottom-content p {
        font-size: 1rem;
    }

    /* Additional profile centering for smaller devices */
    .profile-section {
        padding: 30px 15px;
    }

    .profile-content h2 {
        font-size: 24px;
    }

    .profile-content p {
        font-size: 14px;
        max-width: 100%;
    }
}



@media (max-width: 480px) {

    .hero-heading1,
    .hero-heading2 {
        font-size: 50px;
        display: block;
        text-align: center;
        margin-left: 0 !important;
        width: 100%;
        padding-top: 20px;
    }

    .hero-heading2 {
        margin-top: -20px;
        /* Adjust this to control the overlap/spacing */
    }

    br {
        display: none;
        /* Optional: removes the line break on mobile */
    }
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

::selection {
    -webkit-text-fill-color: transparent;
    color: #00000000;
}